
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#main {
  border: 1px solid black;
  height: 600px;
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


.row {
  overflow: hidden;
  margin-left: calc(-600px / 30);
  white-space: nowrap;
  height: 40px;
}

.row:first-child {
  margin-top: calc(-600px / 30);

}

.point {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: calc(600px / 15);
  height: calc(600px / 15);
  position: relative;
}

.point:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: black;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.point:before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.piece {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.piece.black {
  background-color: black;
}
