@charset "UTF-8";
#flipclock {
  width: 960px;
  height: 390px;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -195px 0 0 -480px !important;
  overflow: hidden; }

#flipclock ul {
  list-style: none; }

#flipclock {
  pointer-events: none;
  margin: 0;
  padding: 0; }

.flipclock-con {
  position: absolute;
  width: 808px;
  height: 384px;
  left: 50%;
  top: 50%;
  margin: -192px 0 0 -476px;
  z-index: 1; }

.flipclock-con2 {
  width: 146px;
  height: 146px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 46px 0 0 330px;
  z-index: 2; }

.flipclock-con ul.flip {
  position: relative;
  float: left;
  margin-right: 20px;
  width: 384px;
  height: 384px; }

.flipclock-con2 ul.flip {
  position: relative;
  float: left;
  width: 146px;
  height: 146px; }

ul.flip li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

ul.flip li:first-child {
  z-index: 2; }

ul.flip li span {
  display: block;
  height: 100%;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px; }

.flipclock-con ul.flip li span div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 190px;
  overflow: hidden; }

.flipclock-con2 ul.flip li span div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 72px;
  overflow: hidden; }

ul.flip li span div.flip-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

ul.flip li span div.flip-up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  top: 0; }

ul.flip li span div.flip-down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  bottom: 0; }

.flipclock-con ul.flip li span div div.flip-text {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  font-size: 300px;
  line-height: 370px;
  color: #b7b7b7;
  text-align: center;
  border-radius: 16px;
  background: url(/works/flip-clock/flipbg.png) repeat-x; }

.flipclock-con2 ul.flip li span div div.flip-text {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 147px;
  color: #b7b7b7;
  text-align: center;
  border-radius: 16px;
  background: url(/works/flip-clock/flipbg2.png) repeat-x; }

ul.flip li span div.flip-down div.flip-apm {
  position: absolute;
  left: 22px;
  bottom: 10px;
  z-index: 90;
  width: 50px;
  height: 40px;
  font-family: 'Oswald',sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #b7b7b7;
  text-align: left; }

ul.flip li span div.flip-up div.flip-text {
  top: 0; }

ul.flip li span div.flip-down div.flip-text {
  bottom: 0; }

#flipclock.play ul li.before {
  z-index: 3; }

#flipclock.play ul li.active {
  -webkit-animation: flip-ani-index .5s .5s linear both;
  -moz-animation: flip-ani-index .5s .5s linear both;
  -ms-animation: flip-ani-index .5s .5s linear both;
  z-index: 2ï¼›; }

@-webkit-keyframes flip-ani-index {
  0% {
    z-index: 2; }
  5% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@-moz-keyframes flip-ani-index {
  0% {
    z-index: 2; }
  5% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@-ms-keyframes flip-ani-index {
  0% {
    z-index: 2; }
  5% {
    z-index: 4; }
  100% {
    z-index: 4; } }

#flipclock.play ul li.active .flip-down {
  z-index: 2;
  -webkit-animation: flip-ani-up .5s .5s linear both;
  -moz-animation: flip-ani-up .5s .5s linear both;
  -ms-animation: flip-ani-up .5s .5s linear both; }

@-webkit-keyframes flip-ani-up {
  0% {
    -webkit-transform: rotateX(90deg); }
  60% {
    -webkit-transform: rotateX(0deg); }
  80% {
    -webkit-transform: rotateX(20deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes flip-ani-up {
  0% {
    -moz-transform: rotateX(90deg); }
  60% {
    -moz-transform: rotateX(0deg); }
  80% {
    -moz-transform: rotateX(20deg); }
  100% {
    -moz-transform: rotateX(0deg); } }

@-ms-keyframes flip-ani-up {
  0% {
    -ms-transform: rotateX(90deg); }
  60% {
    -ms-transform: rotateX(0deg); }
  80% {
    -ms-transform: rotateX(20deg); }
  100% {
    -ms-transform: rotateX(0deg); } }

#flipclock.play ul li.before .flip-up {
  z-index: 2;
  -webkit-animation: flip-ani-down 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  -moz-animation: flip-ani-down 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  -ms-animation: flip-ani-down 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

@-webkit-keyframes flip-ani-down {
  0% {
    -webkit-transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-92deg); } }

@-moz-keyframes flip-ani-down {
  0% {
    -moz-transform: rotateX(0deg); }
  100% {
    -moz-transform: rotateX(-92deg); } }

@-ms-keyframes flip-ani-down {
  0% {
    -ms-transform: rotateX(0deg); }
  100% {
    -ms-transform: rotateX(-90deg); } }

#flipclock.play ul li.before .flip-up .flip-shadow {
  background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -webkit-linear-gradient(to bottom, rgba(17, 17, 17, 0) 0, #111111 100%);
  -webkit-animation: show .5s linear both;
  -moz-animation: show .5s linear both;
  -ms-animation: show .5s linear both; }

#flipclock.play ul li.active .flip-up .flip-shadow {
  background: -moz-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -o-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -ms-linear-gradient(top, rgba(17, 17, 17, 0) 0, #111111 100%);
  background: -webkit-linear-gradient(to bottom, rgba(17, 17, 17, 0) 0, #111111 100%);
  -webkit-animation: hide .5s .3s linear both;
  -moz-animation: hide .5s .3s linear both;
  -ms-animation: hide .5s .3s linear both; }

#flipclock.play ul li.before .flip-down .flip-shadow {
  background: -moz-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(100%, rgba(17, 17, 17, 0)));
  background: -webkit-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -o-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -ms-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -webkit-linear-gradient(to bottom, #111111 0, rgba(17, 17, 17, 0) 100%);
  -webkit-animation: show .5s linear both;
  -moz-animation: show .5s linear both;
  -ms-animation: show .5s linear both; }

#flipclock.play ul li.active .flip-down .flip-shadow {
  background: -moz-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(100%, rgba(17, 17, 17, 0)));
  background: -webkit-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -o-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -ms-linear-gradient(top, #111111 0, rgba(17, 17, 17, 0) 100%);
  background: -webkit-linear-gradient(to bottom, #111111 0, rgba(17, 17, 17, 0) 100%);
  -webkit-animation: hide .5s .3s linear both;
  -moz-animation: hide .5s .3s linear both;
  -ms-animation: hide .5s .3s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
