$bg: rgba(227, 182, 47, 0.9);
$bg-w: #e3b62f;
$border: 10px;

.hang-bookmark {
    padding: 18px 12px;
    width: 150px;
    background: {
        color: $bg;
    }
    background: linear-gradient(to right top,transparent 50%, rgba(0,0,0, 0.4) 0) no-repeat 0 100% / 2em 2em,
                linear-gradient(45deg, transparent 1.41em, $bg 0);
    overflow: hidden;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    border: {
        bottom: {
            left-radius: $border;
            right-radius: $border;
        }
    }
    
    &--dash-main {
        margin: 0;
        line-height: 93%;
        text-align: right;
        font: {
            size: 300%;
        }
        color: white;
    }

    &--dash-sub {
        text-align: right;
        margin: 0 0 15px;
        color: white;
        font: {
            size: 60%;
        }
    }

    &--nav {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            text-align: right;

            a {
                color: white;

                &:active {
                    color: white;
                }

                &:hover {
                    font-size: 1px;
                    color: black;
                }
            }
        }
    }
}
