@-webkit-keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes blink {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.right-side-nav {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer; }
  .right-side-nav:hover .right-side-nav--toggle-text {
    opacity: 1; }
  .right-side-nav--toggle-text {
    opacity: 0;
    background-color: white;
    position: relative;
    z-index: 1;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out; }
  .right-side-nav--menu {
    float: left;
    top: 0;
    right: 10px;
    overflow: hidden;
    width: 10px; }
  .right-side-nav--arrow {
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 12px; }
    .right-side-nav--arrow.blink {
      -webkit-animation: blink 300ms linear 0s infinite alternate;
              animation: blink 300ms linear 0s infinite alternate; }
  .right-side-nav ul {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
    right: 50px; }
    .right-side-nav ul:before, .right-side-nav ul:after {
      content: " ";
      display: table; }
    .right-side-nav ul:after {
      clear: both; }
    .right-side-nav ul li {
      float: left;
      display: inline-block;
      margin-right: 10px; }
