@import "../base.scss";

$stamp-placehold: 100px;
$stamp-bg: black;

.post-card {
    @include block-margin-center;
    border: 2px solid #eee;
    border-radius: 2px;
    position: relative;
    top: 12%;
    background: {
        color: white;
    }
    
    & > div {
        margin-top: 0.5%;
        position: relative;
        display: inline-block;
        float: left;
        
        height: 98%;
        
        &:first-child {
            width: 45%;
            border: {
                right: 2px solid #999
            }
        }

        &:last-child {
            width: 50%;
        }
    }

    .post-card-left {
        color: black;
        padding: 0 12px;
        font: {
            size: 85%;
            family: "Lucida Console", Monaco, monospace;
        }
    }
    
    .post-card-right {
        form {
            position: absolute;
            left: 3rem;
            top: 10rem;
            overflow: hidden;
            textarea {
                height: 200px;
                width: 323px;
                resize: none;
                display: block;
                font: {
                    size: 3rem;
                }
                transform: rotate(3deg);
                line-height: 2.5rem;
                margin-left: 1rem;
            }

            input {
                height: 2rem;
                font: {
                    size: 1.5rem;
                }
                text-align: right;
                transform: rotate(-2deg);
            }

            textarea, input {
                outline: none;
                border: none;
                font: {
                    family: "Comic Sans MS", cursive, sans-serif;
                }
            }

            img {
                width: 38px;
                display: block;
                float: right;
                margin: 3rem 0.5rem;
                transition: transform;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.05, 1.05);
                }
            }
        }
    }

    &--stamp-placehold {
        border-radius: 2px;
        position: absolute;
        right: 0;
        top: 16px;
        height: $stamp-placehold;
        width: $stamp-placehold;
        background-color: $stamp-bg;
        border: 2px dashed white;
        color: green;

        p {
            width: 100%;
            overflow: hidden;
            font: {
                weight: 900;
                size: 80%;
                family: "Lucida Console", Monaco, monospace;
            }
            
        }
        
        img {
            position: absolute;
            width: 150%;
            left: -50px;
            top: -15px;
            opacity: 0.8;
        }
    }
    
}
