<div class="dash-card">

  
  
  <div class="dash-card--hole">
    <!-- <div class="dash-card--line"></div> -->
  </div>
  
  <div class="dash-card--avatar">
    <h2 class="dash-card--name">放為</h2>

    
  </div>

  <ul class="dash-card--list">
    <li>
      <span>Name:</span>
      <span>放為</span>
    </li>

    <li>
      <span>Location:</span>
      <span>深圳</span>
    </li>

    <li>
      <span>Work:</span>
      <span>Web Front-End</span>
    </li>

    <li>
      <span>Like:</span>
      <span>Girls</span>
    </li>
  </ul>
  
</div>
