@font-face {
  font-family: YueSong;
  src: url("/font/chinese/yuesong.TTF"); }

div, p, ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

div.hr {
  width: 100%;
  height: 1px;
  background-color: #bebebe;
  opacity: 0.8;
  margin: 1.8rem auto 1rem; }

.main {
  overflow: hidden;
  width: 1024px;
  margin: 4rem auto;
  position: relative;
  padding: 3rem 2rem;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  height: 100%;
  box-shadow: 0 0 10px #999; }
  .main h1, .main h2, .main h3, .main h4, .main p, .main span {
    font-family: YueSong;
    color: #555; }
  .main p, .main li {
    line-height: 1.4rem; }
  .main h3 {
    margin: 0rem auto 0.25rem; }
  .main a {
    color: #00bfe2; }
  .main .skill-desc {
    list-style: disc;
    padding-left: 1.8rem; }
  .main ul.dot {
    list-style: disc;
    padding-left: 1.8rem; }
  .main .skill-tags:after, .main .skill-tags:before {
    content: '';
    display: table; }
  .main .skill-tags:after {
    clear: both; }
  .main .skill-tags li {
    display: inline-block;
    padding: 0.5rem;
    float: left;
    background-color: #bbffe7;
    border-radius: 3px;
    margin-right: 0.3rem;
    margin-top: 0.3rem; }
    .main .skill-tags li:last-child {
      margin-right: 0; }
    .main .skill-tags li:nth-child(even) {
      background-color: #c1fcff; }
  .main .header {
    overflow: hidden;
    position: relative; }
    .main .header--name, .main .header--concat {
      display: inline-block;
      float: left; }
    .main .header--name {
      width: 40%; }
      .main .header--name h2 {
        font-size: 2rem; }
    .main .header--concat {
      width: 60%; }

.work-experience li {
  margin-bottom: 1.3rem; }
  .work-experience li:last-child {
    margin-bottom: 0rem; }

.work-experience p.project {
  margin-bottom: 0.5rem; }
  .work-experience p.project:last-child {
    margin-bottom: 0rem; }

.work-experience .blod {
  color: #000;
  font-width: 700; }

.links li {
  margin-bottom: 1.3rem; }
  .links li:last-child {
    margin-bottom: 0rem; }

.links .note {
  margin-top: 0.2rem;
  font-size: 0.8rem; }
