div, p, ul, h2 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

.main {
  overflow: hidden;
  width: 1024px;
  margin: auto;
  position: relative;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #999;
  height: 100%; }
  .main .header {
    overflow: hidden;
    position: relative; }
    .main .header--name, .main .header--concat {
      display: inline-block;
      float: left; }
    .main .header--name {
      width: 40%; }
      .main .header--name h2 {
        font-size: 2rem; }
    .main .header--concat {
      width: 60%; }
