@import "./mixin/layout.scss";
@import "./mixin/shadow.scss";
@import "./mixin/shape.scss";
@import "./mixin/position.scss";
@import "./common.scss";
@import "./type.scss";

@font-face {
    font-family: BigLou;
    src: url( '/font/fancy/BigLou.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

$color-list: #000, #111, #222, #333, #184d56, #1c5a64, #9fc5e8, #c8bede, #b3a6d5, #8675b8, #674ea7;

body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: {
        image: linear-gradient(180deg, $color-list);
        repeat: no-repeat;
        size: 100% 100%;
    }
    margin-bottom: 2rem;
}

.dash-screen {
    background: {
        image: url('../img/dash-lines.png');
        size: auto 100%;
        repeat: no-repeat;
        position: center;
    }
    box-shadow: inset 0 -3px 40px #000000;
    .dash-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 5;
    }

    .smoke-effect {
        z-index: 10;
    }
}

.skill-screen {
    .highcharts-background {
        fill: transparent;
    }
    #skill-container {
        
        height: 100%;
        width: 100%;
    }
}

smoke-effect {
    display: none;
}

::-webkit-scrollbar {
    display: none; 
}

.screen {
    
    height: 100vh;
    width: 100%;
    position: relative;
}

.dash-card {
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

bookmark-footer {
    display: none;
}

.bookmark-footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    font: {
        size: 12px;
    }
}

.experience-screen {
    & > a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    border-bottom: 1px solid #999;
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 2px white;
        
        h2, p {
            color: white;
            text-decoration: none;
        }
        
        & > a {
            color: white;
            text-decoration: none;
        }

        .link-to-ew-github {
            color: #4ec5df;
            text-decoration: initial;
            text-shadow: none;
        }
    }
}

.blog-screen {
    overflow: hidden;
    a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    .imgs {
        img {
            opacity: 0;
            position: absolute;
            margin: auto;
            width: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 50%;
            max-height: 100%;
            transition: opacity 0.2s ease-in-out;
            border-radius: 5px;
        }
    }
    .text {
        position: absolute;
        height: 20rem;
        width: 20rem;
        top: 40%;
        left: 50%;
        background: {
            color: rgba(0, 0, 0, 0.8);
        }
        text-align: center;
        border-radius: 50%;
        padding: 3rem;
        box-shadow: 0 0 3rem black;

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: -1.5rem;
            left: -1.5rem;
            padding: 1rem;
            border-radius: 50%;
            box-shadow: 0 0 3rem black;
            border: 0.5rem solid #222;
        }
        
        h2, p {
            color: white;
            text-shadow: 0 0 3px black;
        }

        h2 {
            font: {
                size: 3rem;
            }
        }
    }
}


$wood-hanging-bg: #462300;
$wood-hanging-height: 1.3rem;
.handwriting-screen {
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    .text {
        position: absolute;
        font-family: BigLou;
        left: 50%;
        top: 20%;
        transform: translate(-100%, 0);
        z-index: 100;
        h3 {
            font-size: 3rem;
            color: #2eafaf;
            text-shadow: 0 0 10px white;
        }
    }
    
    .wood-hanging {
        margin: 1rem auto;
        width: auto;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        display: inline-block;
        
        &:before, &:after {
            content: '';
            height: $wood-hanging-height;
            width: 104%;
            position: absolute;
            left: -2%;
            background-color: $wood-hanging-bg;
            box-shadow: 0px 0px 10px $wood-hanging-bg;
            z-index: 1;
            border-radius: 5px;
        }

        &:before {
            top: -$wood-hanging-height;
        }

        &:after {
            top: 100%;
        }

        p.desc {
            position: absolute;
            top: 50%;
            right: -3rem;
            transform: translate(0, -50%);
        }
        
    }
    
    .decoration-page {
        margin: 0 auto;
        height: 100%;
        //left: 50%;
        width: auto;
        position: relative;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #777;
        display: inline-block;

        //transform: translate(-50%, 0);
        
        border: {
            color: #edf4f2;
            width: 3rem 2rem;
            style: solid;
            radius: 1px;
        }
        img {
            display: inline-block;
            margin: 0;
            height: 100%;
            box-sizing: border-box;
            border: {
                color: #000;
                width: 0.5rem 0.3rem;
                style: solid;
            }        
        }
    }
}


