@import "./mixin/layout.scss";
@import "./mixin/shadow.scss";
@import "./mixin/shape.scss";
@import "./mixin/position.scss";
@import "./mixin/clear.scss";
@import "./common.scss";


@import "./type.scss";

$project-title-color: #5EC8DD;

html, body {
    @include full;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

h1.title {

    width: 800px;
    margin: auto;
}

::-webkit-scrollbar {
    display: none; 
} 

.screen {
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;

}

project-card {
    display: none;
}

.project-card {
    @include z-depth-1;
    position: relative;
    padding: 12px 10px;
    width: 800px;
    margin: 3rem auto;
    border-radius: 3px;
    min-height: 135px;
    transition: transform 100ms ease-in;
    &:hover {
        transform: scale(1.01, 1.01);
    }

    h2 {
        color: $project-title-color;
        a {
            color: $project-title-color;
        }
    }

    h2, iframe {
        display: inline-block;
        margin: 0;

    }

    .chinese-title {
        font-size: 20px;
        margin: 8px 0;
    }

    p {
        margin: 0;
    }
    
    .title {
        position: relative;
        .arrow {
            color: #999;
            display: inline-block;
            font-size: 130%;
            animation: pulse;
            animation-duration: 100ms;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        }

        
        
        

        iframe {
            position: absolute;
            top: -3px;
            left: 300px;
        }
    }
    
    .languages {
        @include clearfix;
        padding: 0;
        list-style: none;
        
        li {
            line-height: 20px;
            height: 20px;
            vertical-align: middle;
            position: relative;
            margin-bottom: 3px;
            text-shadow: 0px 0px 3px #000;
            font-size: 90%;
            color: #fff;
            font-weight: 100;

            .language-number {
                margin-left: 10px;
            }
            
            .color-bar {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                z-index: -1;
                height: 100%;
                background-color: #999;
                animation: color-bar;
                animation-duration: 0.5s;
                animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                transform-origin: left;
            }
        }
    }
}

@keyframes color-bar {
    from {
        transform: scale(0, 1);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.2, 1.2);
    }
}
