<div class="top-left grid-area">
  
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  
</div>


<div class="top-right grid-area">
  
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  
</div>


<div class="bottom-left grid-area">
  
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  
</div>


<div class="bottom-right grid-area">
  
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>

  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  <div class="grid-unit"></div>
  
</div>
