<div class="smoke-effect">

<div class='h'>
  <h1>Welcome to my site</h1>
  <h2>There is only one God，and his name is Death. And there is only one thing we say to Death:“Not today.</h2>
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
  <!-- <div class='c'></div> -->
</div>

</div>
