/* mixin */
.vertical-text {
  -webkit-transform: rotate(270deg) translate(-400px, 10px);
          transform: rotate(270deg) translate(-400px, 10px);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0; }

.black-text {
  color: black; }

.red-text {
  color: red; }
