* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #F5F5F5;
  font-family: Josefin Sans;
  font-weight: 100;
  letter-spacing: -1px; }

.card {
  height: 490px;
  width: 350px;
  margin-left: -175px;
  margin-top: -245px;
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1000; }
  .card .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: center 175px; }
  .card:hover .flipper, .card.hover .flipper {
    transform: rotateY(180deg) rotateZ(90deg); }
  .card div.front, .card div.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 490px;
    width: 350px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75); }
  .card div.back {
    background-color: #005D8C;
    color: white;
    width: 490px;
    height: 350px;
    box-sizing: border-box;
    transform: rotateY(180deg) rotateZ(90deg); }
    .card div.back div.container-sm {
      float: left;
      width: 40%;
      height: 100%;
      position: relative; }
    .card div.back div.container-lg {
      float: left;
      width: 60%;
      margin-top: 2rem; }
    .card div.back figure.logo-white {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120px;
      height: 120px;
      display: block;
      margin: -60px -60px; }
      .card div.back figure.logo-white:before, .card div.back figure.logo-white:after {
        display: block;
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent; }
      .card div.back figure.logo-white:before {
        top: 0;
        left: 0;
        border-width: 60px;
        border-top-color: white;
        border-left-color: white;
        z-index: 2; }
      .card div.back figure.logo-white:after {
        bottom: 0;
        right: 0;
        border-width: 56px;
        border-right-color: white; }
    .card div.back a {
      color: white;
      text-decoration: none;
      display: block; }
      .card div.back a:hover {
        text-decoration: underline; }
    .card div.back ul.social {
      font-size: 1.25rem; }
      .card div.back ul.social li {
        margin-top: 1rem; }
        .card div.back ul.social li:first-child {
          margin-top: 2rem; }

.card .front {
  background: #CCC5B3;
  border-radius: 12px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: white;
  z-index: 0; }
  .card .front:before {
    content: "";
    position: absolute;
    top: -125px;
    bottom: 0;
    left: 0;
    right: -50px;
    width: 250px;
    background-color: rgba(225, 98, 63, 0);
    background-image: url(../img/3w-coffee.jpg);
    background-position-x: -162px;
    background-position-y: 93px;
    background-repeat: no-repeat;
    -moz-animation: fadeInDark 0.8s forwards;
    -webkit-animation: fadeInDark 0.8s forwards;
    animation: fadeInDark 0.8s forwards; }
  .card .front:after {
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 50px;
    right: 50px;
    background: rgba(225, 98, 63, 0.7);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    animation: fadeInRed 0.7s 0.5s forwards; }
  .card .front .content {
    z-index: 10;
    position: absolute;
    top: 45%;
    left: 50%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: fadeInText 1.2s 0.1s forwards; }
    .card .front .content h1 {
      font-size: 60px;
      line-height: 40px;
      margin: 0; }
    .card .front .content h2 {
      margin: 0;
      font-size: 36px;
      line-height: 36px; }
  .card .front .mark {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    top: 16px;
    left: 24px;
    opacity: 0;
    -moz-animation: fadeInMark 0.8s 0.5s forwards;
    -webkit-animation: fadeInMark 0.8s 0.5s forwards;
    animation: fadeInMark 0.8s 0.5s forwards; }
    .card .front .mark:after {
      content: "\f141";
      font-family: "Ionicons";
      display: block;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      font-size: 20px;
      color: #E1623F;
      margin-left: -5px;
      margin-top: 4px; }
    .card .front .mark .upside-down {
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      top: auto;
      left: auto;
      bottom: 16px;
      right: 24px;
      color: #E1623F; }

.dark {
  color: #0C0B13; }

@keyframes fadeInCard {
  from {
    top: 40px;
    transform: scale(1.2) rotate(10deg); }
  to {
    top: 0px;
    transform: scale(1) rotate(0deg); } }

@-moz-keyframes fadeInDark {
  from {
    opacity: 0;
    -moz-transform: rotate(72deg) translate(120px, 800px);
    transform: rotate(72deg) translate(120px, 800px); }
  30% {
    opacity: 0.1; }
  to {
    opacity: 1;
    -moz-transform: rotate(72deg) translate(75px, 20px);
    transform: rotate(72deg) translate(75px, 20px); } }

@-webkit-keyframes fadeInDark {
  from {
    opacity: 0;
    -webkit-transform: rotate(72deg) translate(120px, 800px);
    transform: rotate(72deg) translate(120px, 800px); }
  30% {
    opacity: 0.1; }
  to {
    opacity: 1;
    -webkit-transform: rotate(72deg) translate(75px, 20px);
    transform: rotate(72deg) translate(75px, 20px); } }

@keyframes fadeInDark {
  from {
    opacity: 0;
    -moz-transform: rotate(72deg) translate(120px, 800px);
    -ms-transform: rotate(72deg) translate(120px, 800px);
    -webkit-transform: rotate(72deg) translate(120px, 800px);
    transform: rotate(72deg) translate(120px, 800px); }
  30% {
    opacity: 0.1; }
  to {
    opacity: 1;
    -moz-transform: rotate(72deg) translate(75px, 20px);
    -ms-transform: rotate(72deg) translate(75px, 20px);
    -webkit-transform: rotate(72deg) translate(75px, 20px);
    transform: rotate(72deg) translate(75px, 20px); } }

@-moz-keyframes fadeInRed {
  from {
    opacity: 0;
    -moz-transform: rotate(70deg) translate(7px, 800px);
    transform: rotate(70deg) translate(7px, 800px); }
  30% {
    opacity: 0.2; }
  to {
    opacity: 1;
    -moz-transform: rotate(58deg) translate(0px, 0px);
    transform: rotate(58deg) translate(0px, 0px); } }

@-webkit-keyframes fadeInRed {
  from {
    opacity: 0;
    -webkit-transform: rotate(70deg) translate(7px, 800px);
    transform: rotate(70deg) translate(7px, 800px); }
  30% {
    opacity: 0.2; }
  to {
    opacity: 1;
    -webkit-transform: rotate(58deg) translate(0px, 0px);
    transform: rotate(58deg) translate(0px, 0px); } }

@keyframes fadeInRed {
  from {
    opacity: 0;
    transform: rotate(70deg) translate(7px, 800px); }
  30% {
    opacity: 0.2; }
  to {
    opacity: 1;
    transform: rotate(58deg) translate(0px, 0px); } }

@-moz-keyframes fadeInText {
  from {
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

@-webkit-keyframes fadeInText {
  from {
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

@keyframes fadeInText {
  from {
    opacity: 0; }
  to {
    top: 50%;
    opacity: 1; } }

@-moz-keyframes fadeInMark {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInMark {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeInMark {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
