.hidden {
  display: none; }

.vertical-text {
  transform: rotate(270deg) translate(-400px, 10px);
  transform-origin: left top 0; }

.black-text {
  color: black; }

.red-text {
  color: red; }

html, body {
  margin: 0;
  padding: 0; }

body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(180deg, #073763, #0b5394, #3d85c6, #6fa8dc, #9fc5e8, #c8bede, #b3a6d5, #8675b8, #674ea7, #351c75, #741b47, #a64d79, #c27ba0, #d5a6bd, #d8aca4, #dd7e6b, #cc4125, #a61c00, #85200c, #571407);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

smoke-effect {
  display: none; }

::-webkit-scrollbar {
  display: none; }

.screen {
  width: 100%;
  position: relative; }

bookmark-footer {
  display: none; }

.bookmark-footer {
  position: fixed;
  bottom: 0; }

.handwriting img {
  display: block;
  margin: auto;
  max-width: 300px;
  border-radius: 1px; }
